[user]
	# Don't guess the user's identity.
	# https://github.com/git/git/blob/90f7b16b3adc78d4bbabbd426fb69aa78c714f71/Documentation/config.txt#L2847-L2855

	#useConfigOnly = true
	name = azzamsa
	email = azzam@azzamsa.com


[credential]
	helper = cache --timeout=14400
[alias]
	s = status
	br = branch
	f = fetch
	g = log --graph --pretty=custom           # Show custom graph.
	l = log --pretty=custom                   # Show custom log.
	co = checkout
	ac = !git add -A && git commit            # Commit all changes.
	pl = pull --rebase                        # Pull with rebase
	lg = !"git lg1"
	lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) \
	- %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— \
	%an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) \
	- %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' \
	%C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit

[pretty]

	custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
	#                     │        │            │            │             └─ author name
	#                     │        │            │            └─ message
	#                     │        │            └─ date (relative)
	#                     │        └─ decorations (branch, heads or tags)
	#                     └─ hash (abbreviated)



[color "branch"]

	current = green bold
	local = green
	remote = yellow

[color "diff"]

	frag = magenta
	meta = yellow
	new = green
	old = red

[color "status"]

	added = green reverse
	changed = yellow reverse
	untracked = red reverse


[include]

	# Load local configs.
	# https://git-scm.com/docs/git-config#_includes
	#
	# [!] The following needs to remain at the end of this file in
	#     order to allow any of the above configs to be overwritten
	#     by the local ones

	path = ~/.gitconfig.local
