layout {
    pane split_direction="vertical" {
        pane name="host"
        pane split_direction="horizontal" {
            pane {
                name "base"
                command "toolbox"
                args "enter" "base"
            }
            pane
        }
    }
}
