default_shell "{{ shell }}"
copy_command "wl-copy" // I am using Wayland
// Without the frames, it is hard to distinguish the boundary between the content (command output)
// and the footer tooltip. I need some space between them.
pane_frames true

keybinds clear-defaults=true {
    normal {
        unbind "Ctrl q"
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    resize {
        bind "Ctrl n" { SwitchToMode "Normal"; }

        bind "n" "Left" { Resize "Increase Left"; }
        bind "e" "Down" { Resize "Increase Down"; }
        bind "i" "Up" { Resize "Increase Up"; }
        bind "o" "Right" { Resize "Increase Right"; }

        bind "N" { Resize "Decrease Left"; }
        bind "E" { Resize "Decrease Down"; }
        bind "I" { Resize "Decrease Up"; }
        bind "O" { Resize "Decrease Right"; }

        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }

        bind "n" "Left" { MoveFocus "Left"; }
        bind "e" "Down" { MoveFocus "Down"; }
        bind "i" "Up" { MoveFocus "Up"; }
        bind "o" "Right" { MoveFocus "Right"; }

        bind "p" { SwitchFocus; }
        bind "k" { NewPane; SwitchToMode "Normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "k" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    move {
        bind "Ctrl h" { SwitchToMode "Normal"; }
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }

        bind "n" "Left" { MovePane "Left"; }
        bind "e" "Down" { MovePane "Down"; }
        bind "i" "Up" { MovePane "Up"; }
        bind "o" "Right" { MovePane "Right"; }
    }
    tab {
        bind "Ctrl t" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

        bind "n" "Left" "Up" "e" { GoToPreviousTab; }
        bind "o" "Right" "Down" "n" { GoToNextTab; }

        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }
    scroll {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "f" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }

        bind "n" "Down" { ScrollDown; }
        bind "e" "Up" { ScrollUp; }

        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    search {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }

        bind "n" "Down" { ScrollDown; }
        bind "e" "Up" { ScrollUp; }

        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Alt N" { NewPane; }

        bind "Alt m" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt n" "Alt Down" { MoveFocus "Down"; }
        bind "Alt e" "Alt Up" { MoveFocus "Up"; }
        bind "Alt i" "Alt Right" { MoveFocusOrTab "Right"; }

        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        // `[` and `]` are hard to reach
        bind "Alt P" { PreviousSwapLayout; }
        bind "Alt p" { NextSwapLayout; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "locked" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "locked" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    // I want to use Ctrl+Backspace to delete word.
    // In most terminal, Ctrl+H translated as Backspace
    // shared_except "move" "locked" {
    //     bind "Ctrl h" { SwitchToMode "Move"; }
    // }
    shared_except "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

ui {
    pane_frames {
        hide_session_name true
    }
}

// https://zellij.dev/documentation/theme-gallery
theme "tokyonight_moon_folke"


