@import "../colors/tokyonight-moon.css";

* {
    font-family:
        JetBrainsMono Nerd Font,
        FontAwesome;
    font-size: 16px;
    font-weight: bold;
}

#clock,
#workspaces,
#custom-ddcutil,
#network,
#pulseaudio,
#tray,
#custom-powermenu {
    color: @bg;
    background-color: @fg;
    border-bottom-color: @fg1;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-bottom: 12px;
    border-radius: 10px;

    border-bottom-width: 5px;
    border-bottom-style: solid;
}

#clock {
    color: @bg;
    background-color: @green;
    border-bottom-color: @green1;

    margin-left: 15px;
    padding-left: 20px;
    padding-right: 21px;
}

#workspaces {
    padding: 0px;
}

#workspaces button {
    color: @bg;
}

#workspaces button.active {
    color: @bg;
    background-color: @blue;
    border-bottom-color: @blue1;

    border-radius: 10px;
    margin-bottom: -5px;

    border-bottom-width: 5px;
    border-bottom-style: solid;
}

#workspaces button:hover {
    background: @green;
    border-bottom-color: @green1;

    border: 1.5px solid @green1;
    border-radius: 10px 10px 10px 10px;
}

window#waybar {
    color: @fg;
    background-color: @bg;
    border-bottom-color: @bg1;

    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px 0px 15px 15px;
    transition-duration: 0.5s;

    border-bottom-width: 5px;
    border-bottom-style: solid;
}

#tray.empty {
    background-color: transparent;
}

#custom-powermenu {
    color: white;
    background-color: @red;
    border-bottom-color: @red1;

    margin-right: 15px;
    padding-left: 20px;
    padding-right: 23px;
}
