themes {
  catppuccin_mocha {
    bg "#313244" // default: Surface2
    fg "#cdd6f4" // Text
    red "#d20f39" // default: red. it is not readable (1.6:1)
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#1e1e2e" // default: Mantle
    white "#cdd6f4" // Text
  }
  catppuccin_black {
    bg "#313244" // default: Surface2
    fg "#cdd6f4" // Text
    red "#d20f39" // default: red. it is not readable (1.6:1)
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#000000" // default: Mantle
    white "#cdd6f4" // Text
  }
}
