// Black should match the terminal background color
// This ensures the top and bottom bars are transparent
themes {
  catppuccin_mocha {
    bg "#313244" // default: Surface2
    fg "#cdd6f4" // Text
    red "#d20f39" // default: red. it is not readable (1.6:1)
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#000000"
    white "#cdd6f4" // Text
  }
  tokyonight_moon {
    fg "#ffffff"
    bg "#2f334d"
    black "#000000"
    red "#ff757f"
    green "#c3e88d"
    yellow "#ffc777"
    blue "#82aaff"
    magenta "#c099ff"
    cyan "#86e1fc"
    white "#ffffff"
    orange "#ff966c"
 }
 monokai_pro {
   fg "#fcfcfa"
   bg "#2f334d"
   black "#000000"
   red "#ff6188"
   green "#a9dc76"
   yellow "#ffd866"
   blue "#81a2be"
   magenta "#ab9df2"
   cyan "#78dce8"
   white "#fcfcfa"
   orange "#fc9867"
 }
 grubox {
   fg "#fbf1c7"
   bg "#2f334d"
   black "#000000"
   red "#fb4934"
   green "#b8bb26"
   yellow "#fabd2f"
   blue "#81a2be"
   magenta "#ab9df2"
   cyan "#78dce8"
   white "#fabd2f"
   orange "#fe8019"
 }
 challenger_deep {
   fg "#cbe3e7"
   bg "#282a36"
   black "#000000"
   red "#ff8080"
   green "#95ffa4"
   yellow "#ffe9aa"
   blue "#91ddff"
   magenta "#c991e1"
   cyan "#aaffe4"
   white "#cbe3e7"
   orange "#f6c177"
 }
 dracula {
   fg "#f8f8f2"
   bg "#282a36"
   black "#000000"
   red "#ff5555"
   green "#50fa7b"
   yellow "#f1fa8c"
   blue "#6272a4"
   magenta "#ff79c6"
   cyan "#8be9fd"
   white "#f8f8f2"
   orange "#ffb86c"
 }
 nordic {
   fg "#eceff4"
   bg "#282a36"
   black "#000000"
   red "#c5727a"
   green "#b1c89d"
   yellow "#efd49f"
   blue "#88c0d0"
   magenta "#be9db8"
   cyan "#9fc6c5"
   white "#eceff4"
   orange "#d79784"
 }
 ayu_dark {
	fg "#e6e1cf"
	bg "#0F1419"
  black "#000000"
	red "#f07178"
	green "#b8cc52"
	yellow "#e7c547"
	blue "#36a3d9"
	magenta "#ffee99"
	cyan "#95e6cb"
	white "#e6e1cf"
	orange "#ff7733"
 }
 kanagawa {
	fg "#dcd7ba"
	bg "#223249"
  black "#000000"
	red "#d27e99"
	green "#98bb6c"
	yellow "#e6c384"
	blue "#7e9cd8"
  // improved from `#957fb8`
	magenta "#a18cc0"
	cyan "#7fb4ca"
	white "#dcd7ba"
	orange "#ffa066"
 }
 modus_vivendi {
   fg "#ffffff"
   bg "#2f3849"
   black "#000000"
   red "#ff5f59"
   green "#44bc44"
   yellow "#d0bc00"
   blue "#2fafff"
   magenta "#feacd0"
   cyan "#00d3d0"
   white "#ffffff"
   orange "#fec43f"
 }
 fleet {
   fg "#ffffff"
   bg "#163764"
   black "#000000"
   red "#cc7c8a"
   green "#a8cc7c"
   yellow "#ebc88d"
   blue "#87c3ff"
   magenta "#e394dc"
   cyan "#82d2ce"
   white "#ffffff"
   orange "#e09b70"
 }
 // https://github.com/EdenEast/nightfox.nvim/blob/main/extra/zellij/nightfox.kdl
 oxocarbon {
   fg "#f2f4f8"
   bg "#2a2a2a"
   black "#000000"
   red "#ee5396"
   green "#25be6a"
   yellow "#08bdba"
   blue "#78a9ff"
   magenta "#be95ff"
   cyan "#33b1ff"
   white "#dfdfe0"
   orange "#3ddbd9"
 }
 aura {
   fg "#f2f4f8"
   bg "#2a2a2a"
   black "#000000"
   red "#ff6767"
   green "#61ffca"
   yellow "#ffca85"
   blue "#82e2ff"
   magenta "#f694ff"
   cyan "#82e2ff"
   white "#edecee"
   orange "#ffca85"
 }
 synthwave {
   fg "#f2f4f8"
   bg "#2a2a2a"
   black "#000000"
   red "#fe4450"
   green "#72f1b8"
   yellow "#f3e70f"
   blue "#03edf9"
   magenta "#ff7edb"
   cyan "#03edf9"
   white "#ffffff"
   orange "#ff8b39"
 }
 rosepine {
	bg "#403d52"
	fg "#e0def4"
	red "#eb6f92"
	green "#31748f"
	blue "#9ccfd8"
	yellow "#f6c177"
	magenta "#c4a7e7"
	orange "#fe640b"
	cyan "#ebbcba"
	black "#000000"
	white "#e0def4"
 }
}
