// Black should match the terminal background color
// This ensures the top and bottom bars are transparent
themes {
    snazzy {
        red "#ff5c57"
        green "#5af78e"
        blue "#57c7ff"
        yellow "#f3f99d"
        magenta "#ff6ac1"
        orange "#ffb86c"
        cyan "#9aedfe"

        // All the colors below are kept across theme.
        // Mostly taken from https://catppuccin.com/palette mocha.
        bg "#313244"
        fg "#ffffff"
        black "#000000"
        white "#ffffff"
    }
    dracula {
        red "#ff5555"
        green "#50fa7b"
        yellow "#f1fa8c"
        blue "#6272a4"
        magenta "#ff79c6"
        cyan "#8be9fd"
        orange "#ffb86c"

        bg "#313244"
        fg "#ffffff"
        black "#000000"
        white "#ffffff"
    }
    catppuccin_mocha {
        red "#d20f39"
        green "#a6e3a1"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7"
        orange "#fab387"
        cyan "#89dceb"

        bg "#313244"
        fg "#ffffff"
        black "#000000"
        white "#ffffff"
    }
    tokyonight_moon {
        red "#ff757f"
        green "#c3e88d"
        yellow "#ffc777"
        blue "#82aaff"
        magenta "#c099ff"
        cyan "#86e1fc"
        orange "#ff966c"

        bg "#313244"
        fg "#ffffff"
        black "#000000"
        white "#ffffff"
    }
    modus_vivendi {
        red "#ff5f59"
        green "#00d3d0"
        yellow "#fec43f"
        blue "#2fafff"
        magenta "#feacd0"
        cyan "#6ae4b9"
        orange "#f78fe7"

        bg "#313244"
        fg "#ffffff"
        black "#000000"
        white "#ffffff"
    }
    material {
        red "#f07178"
        green "#c3e88d"
        blue "#89ddff"
        yellow "#ffcb6b"
        magenta "#c792ea"
        orange "#f78c6c"
        cyan "#89ddff"

        bg "#313244"
        fg "#ffffff"
        black "#000000"
        white "#ffffff"
    }
}
