! URxvt config

URxvt*font: xft:InconsolataGo:pixelsize=14

! save big lines
URxvt.saveLines:32767
URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt*colorUL:           #c5f779
URxvt*underlineColor:    #c5f779

*foreground: #dcdccc
*background: #3f3f3f

*color0:	#3f3f3f
*color1:        #705050
*color2:        #60b48a
*color3:        #dfaf8f
*color4:        #506070
*color5:        #dc8cc3
*color6:        #8cd0d3
*color7:        #DCDCCC

*color8:        #709080
*color9:        #cc9393
*color10:       #7f9f7f
*color11:       #f0dfaf
*color12:       #94bff3
*color13:       #ec93d3
*color14:       #93e0e3
*color15:       #ffffff

