!!! Xresources

!! XFT
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb


!! fonts
URxvt*font: xft:Fira Mono:pixelsize=14

!! interface
URxvt.scrollBar: false
! save big lines
URxvt.saveLines:32767

URxvt*colorUL:           #c5f779
URxvt*underlineColor:    #c5f779


!! extension
URxvt.perl-ext-common: default,matcher,font-size
URxvt.urlLauncher: firefox
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]


!! color scheme
*foreground: #dcdccc
*background: #3f3f3f

*color0:	#3f3f3f
*color1:        #705050
*color2:        #60b48a
*color3:        #dfaf8f
*color4:        #506070
*color5:        #dc8cc3
*color6:        #8cd0d3
*color7:        #DCDCCC

*color8:        #709080
*color9:        #cc9393
*color10:       #7f9f7f
*color11:       #f0dfaf
*color12:       #94bff3
*color13:       #ec93d3
*color14:       #93e0e3
*color15:       #ffffff


!! misc
! disable ctrl-shit
URxvt*iso14755: False
URxvt*iso14755_52: False

! change size on the fly
URxvt.keysym.C-plus:     perl:font-size:increase
URxvt.keysym.C-minus:   perl:font-size:decrease

!! rofi -- dmenu clone
rofi.opacity:  100
rofi.width:    70
rofi.lines:    15
rofi.font:     Fira Mono 12
rofi.location: 0
rofi.padding:  5

rofi.color-enabled: true
rofi.color-window: #3f3f3f, #000000, #000000

! State:           bg,      fg,      bgalt    hlbg,    hlfg
! zenburn:         bg,      fg,      bg-05,   bg+1,    fg+1
rofi.color-normal: #3f3f3f, #dcdccc, #383838, #4f4f4f, #ffffef
!                  blue-4,  fg,      blue-5,  blue-3,  fg+1
rofi.color-active: #4c7073, #dcdccc, #366060, #5c888b, #ffffef
!                  red-4,   fg,      red-5,   red-3,   fg+1
rofi.color-urgent: #8c5353, #dcdccc, #7c4343, #9c6363, #ffffef

!! emacs
emacs.verticalScrollBars: false
