@import "../colors/tokyonight-moon.css";

window {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16pt;
    color: @fg;
    background: transparent;
}

button {
    background-color: @bg;
    border-bottom-color: @bg1;

    border-radius: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;

    /* Margin between buttons */
    margin: 5px;

    transition:
        box-shadow 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

    /*  icon */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:hover {
    background-color: @bg;
    border-color: @fg;

    font-size: 18pt;
    font-weight: bold;
    background-size: 26%;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:hover {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:hover {
    background-image: image(url("./logout-hover.png"));
}

#shutdown {
    background-image: image(url("./poweroff.png"));
}
#shutdown:hover {
    background-image: image(url("./poweroff-hover.png"));
}

#reboot {
    background-image: image(url("./reboot.png"));
}
#reboot:hover {
    background-image: image(url("./reboot-hover.png"));
}
