@import "../colors/kanagawa-wave.css";

window {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16pt;
    color: @fg;
    background: transparent;
}

button {
    background-color: @bg;
    border-color: @bg;
    border-bottom-color: @bg2;

    border-radius: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;

    /* Margin between buttons */
    margin: 5px;

    transition:
        box-shadow 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

    /*  icon */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:hover {
    border-color: @yellow;

    font-size: 18pt;
    font-weight: bold;
    background-size: 26%;
}

#lock {
    background-image: image(url("./icons/lock.svg"));
}

#logout {
    background-image: image(url("./icons/logout.svg"));
}

#reboot {
    background-image: image(url("./icons/reboot.svg"));
}

#poweroff {
    background-image: image(url("./icons/poweroff.svg"));
}
