default_shell "fish"
copy_command "wl-copy" // I am using Wayland
// Without the frames, it is hard to distinguish the boundary between the content (command output)
// and the footer tooltip. I need some space between them.
pane_frames true

keybinds clear-defaults=true {
    normal {
        unbind "Ctrl q"
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    resize {
        bind "Ctrl n" { SwitchToMode "Normal"; }

        bind "n" "Left" { Resize "Increase Left"; }
        bind "e" "Down" { Resize "Increase Down"; }
        bind "i" "Up" { Resize "Increase Up"; }
        bind "o" "Right" { Resize "Increase Right"; }

        bind "N" { Resize "Decrease Left"; }
        bind "E" { Resize "Decrease Down"; }
        bind "I" { Resize "Decrease Up"; }
        bind "O" { Resize "Decrease Right"; }

        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }

        bind "n" "Left" { MoveFocus "Left"; }
        bind "e" "Down" { MoveFocus "Down"; }
        bind "i" "Up" { MoveFocus "Up"; }
        bind "o" "Right" { MoveFocus "Right"; }

        bind "p" { SwitchFocus; }
        bind "k" { NewPane; SwitchToMode "Normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "k" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "x" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    move {
        bind "Ctrl h" { SwitchToMode "Normal"; }
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }

        bind "n" "Left" { MovePane "Left"; }
        bind "e" "Down" { MovePane "Down"; }
        bind "i" "Up" { MovePane "Up"; }
        bind "o" "Right" { MovePane "Right"; }
    }
    tab {
        bind "Ctrl t" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

        bind "n" "Left" "Up" "e" { GoToPreviousTab; }
        bind "o" "Right" "Down" "n" { GoToNextTab; }

        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "k" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }
    scroll {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "f" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }

        bind "n" "Down" { ScrollDown; }
        bind "e" "Up" { ScrollUp; }

        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    search {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }

        bind "n" "Down" { ScrollDown; }
        bind "e" "Up" { ScrollUp; }

        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Alt N" { NewPane; }

        bind "Alt m" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt n" "Alt Down" { MoveFocus "Down"; }
        bind "Alt e" "Alt Up" { MoveFocus "Up"; }
        bind "Alt i" "Alt Right" { MoveFocusOrTab "Right"; }

        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        // `[` and `]` are hard to reach
        bind "Alt P" { PreviousSwapLayout; }
        bind "Alt p" { NextSwapLayout; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "locked" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "locked" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    // I want to use Ctrl+Backspace to delete word.
    // In most terminal, Ctrl+H translated as Backspace
    // shared_except "move" "locked" {
    //     bind "Ctrl h" { SwitchToMode "Move"; }
    // }
    shared_except "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

ui {
    pane_frames {
        hide_session_name true
    }
}

// https://zellij.dev/documentation/theme-gallery
theme "cmocha"

themes {
    // Custom Catppuccin Mocha
    cmocha {
        bg "#363a4f" // macchiato: Surface0
        fg "#cdd6f4"
        red "#fe640b" // latte: Peach
        green "#a6e3a1"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7"
        orange "#fab387"
        cyan "#89dceb"
        black "#24273a" // macchiato: base

        white "#cdd6f4"
    }
    kanagawa_wave {
        white "#dcd7ba"
        green "#e6c384"
        fg "#b8b4d0"
        black "#1f1f28"
        red "#252535"
        bg "#2d4f67"
        orange "#e6c384"

        // Not used colors
        yellow "#f38ba8"
        blue "#f38ba8"
        magenta "#f38ba8"
        cyan "#f38ba8"
    }
   tokyonight_moon {
        // Primary color (brand color)
        // Logo and help prefix
        white "#86e1fc"
        // Header tab bg and frames border
        green "#c3e88d"
        // Footer tab bg
        fg "#c8d3f5"
        // Footer fg, header bg
        // ⚠️  Must be same as Wezterm `background` color, otherwise it is not transparent.
        black "#222436"
        //  Prefix char in footer
        red "#3e68d7"
        // Selection
        // ⚠️  Terminal bg color is set in Wezterm `background`
        bg "#2d3f76"
        // Active border
        orange "#ff966c"

        // Not used colors
        yellow "#f38ba8"
        blue "#f38ba8"
        magenta "#f38ba8"
        cyan "#f38ba8"
    }
}
