#!/usr/bin/env bash

# list
# - Apps
# - Languages

export PATH

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/bin:$PATH"
export XDG_DATA_DIRS=/usr/local/share/:/usr/share/ # for icons

export ALTERNATE_EDITOR=""

# ############
# Apps
# ############

# Bash history
export HISTSIZE=100000                   # big big history
export HISTFILESIZE=100000               # big big history
export HISTTIMEFORMAT="%d/%m/%y %T "
export HISTCONTROL="ignoreboth"
# Save and reload the history after each command finishes
export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"

# KDE app theme & icon
export QT_QPA_PLATFORMTHEME="qt5ct"

# z sources
. /opt/z/z.sh

eval $(keychain --eval --quiet)

# obs
if [[ -n "$VIRTUAL_ENV" ]]; then
    venv="${VIRTUAL_ENV##*/}"
    if [[ "$venv" == "neo-obs" ]]; then
        eval "$(_OBS_COMPLETE=source obs)"
        echo "$venv completion activated"
    fi
fi

# Guix
#GUIX_PROFILE="$HOME/.guix-profile"
#GUIX_LOCPATH="$HOME/.guix-profile/lib/locale"
#. "$GUIX_PROFILE/etc/profile"

# Emacs
export TERM=xterm-256color
[ -n "$TMUX" ] && export TERM=screen-256color
export VISUAL='emacsclient --alternate-editor='
export EDITOR='emacsclient --alternate-editor='

# Andoroid
export ANDROID_HOME="$HOME/Android/Sdk"
export ANDROID_EMULATOR_USE_SYSTEM_LIBS=1

# Qemu
# Fix daggling mouse in qemu
export SDL_VIDEO_X11_DGAMOUSE=0

# ############
# Programming Languages
# ############

# Python
VIRTUALENVWRAPPER_PYTHON='/usr/bin/python3'
source /usr/local/bin/virtualenvwrapper.sh
export WORKON_HOME=$HOME/.virtualenvs
# disable the default virtualenv prompt change
export VIRTUAL_ENV_DISABLE_PROMPT=1

# JS
export NVM_DIR="$HOME/.nvm"

# Common Lisp
export PATH="$HOME/.roswell/bin:$PATH"

# Rust
export PATH="$HOME/.cargo/bin:$PATH"
#export RUST_SRC_PATH=${HOME}/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src

# GO
export PATH="/usr/local/go/bin:$PATH"
export GOPATH=$HOME/goprojects
export PATH="$GOPATH/bin:$PATH"

# Ruby
export PATH="$HOME/.rvm/bin:$PATH"
export PATH="$HOME/.gem/gems/bin:$PATH"
export GEM_PATH=$HOME/.gem/gems

# Java
export SDKMAN_DIR="$SDKMAN_DIR"

# Latex
export PATH=/usr/local/texlive/2018/bin/x86_64-linux:$PATH
export INFOPATH=$INFOPATH:/usr/local/texlive/2018/texmf-dist/doc/info
export MANPATH=$MANPATH:/usr/local/texlive/2018/texmf-dist/doc/man

# OCaml
. /home/azzamsya/.opam/opam-init/init.sh > /dev/null 2> /dev/null || true


[[ -s "$HOME/.gvm/scripts/gvm" ]] && source "$HOME/.gvm/scripts/gvm"
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*

[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# added by travis gem
[ -f /home/azzamsya/.travis/travis.sh ] && source /home/azzamsya/.travis/travis.sh
