#!/usr/bin/env bash

#xterm colour(emacs support)
export TERM=xterm-256color

#pbulder
export DEBFULLNAME="Azzam Syawqi Aziz"
export DEBEMAIL="oktinastuzi@gmail.com"

#Go language.
export GOPATH=“/home/azzamsa/project”
export PATH=$PATH:$GOPATH/bin 

#DB2 problems
export DISPLAY=:0

#emacs client configuration 17.10.16 10:31 AM
export VISUAL='emacsclient --alternate-editor='
export EDITOR='emacsclient --alternate-editor='

#26.03.2017 3:34 AM // export for tmux
export TERM=screen-256color-bce

#04.05.2017 10:30 AM //java ugly font
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=gasp'

export PATH=$PATH:/home/azzamsa/.config/composer/vendor/bin


#aliases 01.11.16 6:12 Am
export ALTERNATE_EDITOR=""


#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="/home/azzamsa/.sdkman"
[[ -s "/home/azzamsa/.sdkman/bin/sdkman-init.sh" ]] && source "/home/azzamsa/.sdkman/bin/sdkman-init.sh"

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"


# Save and reload the history after each command finishes
export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"


#save big history
export HISTCONTROL=ignoredups:erasedups  # no duplicate entries
export HISTSIZE=100000                   # big big history
export HISTFILESIZE=100000               # big big history



[[ -s "$HOME/.profile" ]] && source "$HOME/.profile" # Load the default .profile

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*

export HISTTIMEFORMAT="%d/%m/%y %T "
