#!/usr/bin/env bash

# change to parent dir easily
function cdn () {
    pushd .; for ((i=1; i<=$1; i++)); do cd ..; done; pwd;
}

# rustrun
function rrun () {
    rustc $1 && ./$1
}

# mkdir and cd
function mkcd () {
    mkdir $1 && cd $1
}


# adding the autojump sources
. /usr/share/autojump/autojump.sh
. /usr/share/autojump/autojump.bash
