#!/usr/bin/env bash

# change to parent dir easily
function cdn () {
    pushd .; for ((i=1; i<=$1; i++)); do cd ..; done; pwd;
}

# rustrun
function rrun () {
    # slice '.rs' to allow tab completion. I am tired of typing
    rustc $1 --out-dir ./target &&  ./target/${1:0:-3}
}

# mkdir and cd
function mkcd () {
    mkdir -p -- "$1" && cd -P -- "$1"
}


# adding the autojump sources
. /usr/share/autojump/autojump.sh
. /usr/share/autojump/autojump.bash
